<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
    <title>Clima Hoje</title>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      var previsao = JSON.parse('{{previsao | tojson}}');
      var hoje = JSON.parse('{{agora| tojson}}')
      console.log(previsao)
      console.log(previsao[0])
      console.log(hoje.data)

      var horariohoje = hoje.data.horario.substring(0,5)
      var arrayData = [[horariohoje, hoje.principal.temp]]
      var agora = previsao[0].principal.temp.map((value,index) => [previsao[0].data.horario[index],value])
      console.log('teste',agora)
      if (agora.length>=7) arrayData= arrayData.concat(agora.slice(0,7))
      else{
        var falta = 7 - agora.length
        var proximo = previsao[1].principal.temp.map((value,index) => [previsao[1].data.horario[index],value])
        arrayData= arrayData.concat(agora)
        arrayData= arrayData.concat(proximo.slice(0,falta))


      }

      console.log(arrayData)
    

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

   

      function drawChart() {

        
        var data = new google.visualization.DataTable()
        data.addColumn('string','Horario')
        data.addColumn('number', 'Temperatura')
        
        
        arrayData.forEach((e)=> data.addRow(e))
         
        

        var options = {
          title: 'Temperatura',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>

</head>
<body class="{{bg_body | default('bg-f-azul-claro')}}">
    
    <form action="/index" method="post" class="flex justify-center -translate-y-20 items-center transition-transform hover:translate-y-0 hover:transition-transform">
        <div class="bg-slate-600 py-6 px-12 rounded-b-lg">
        <input type="text" name="cidade" class="w-[35vw] h-10 px-4 mt-2" placeholder="Digite o nome da sua cidade">
        <div class="flex justify-end items-center relative">
        <select name="estado" class="absolute w-20 text-center rounded-lg h-8 mr-2 bottom-1 bg-f-verde text-f-branco">
            <option value="Pernambuco" selected disabled>UF</option>
            {% for k,v in estados.items() %}

            <option value="{{v}}">{{k}}</option>

            {% endfor %}

        </select>
    
    </div>
   
</div>

<button type="submit" class="{{bg_button|default('bg-f-azul-escuro')}} ml-8 py-6 px-12 rounded-lg 
                              hover:text-white hover:bg-f-verde">
  Pesquisar Clima
</button>

</form>

<main class="flex justify-center items-center">
     {% if horario == 'dia' %}
     {% include "dia.html" %}
     {% elif horario == 'noite' %}
     {% include "noite.html" %}
     {% else %}
     {% include "template.html" %}
     {% endif %}
    

    </section>

</main>



</body>
</html>